#app { height: 100% }


.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 400px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  
}

.item{
    transition: color 0.3s;
}

.item:hover :{
    color: rgb(255, 62, 62);
    transition: 0.4s;
}
