


  .navitem,.badge{
  font-weight: 500;
  padding: 1px 2px;
  border-radius: 7px;
  }

  .navitem a:hover,.badge:hover{
    color: rgb(221, 0, 0); 
  }


.active{
  color: rgb(221, 0, 0);
  font-weight: 700;
}

.menu-item{
  margin-top: 60px;
}